@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --noir: #1A1A1A;
  --grisArdoise: #333140;
  --bleuGris: #4F5372;
  --bg-form: #733E34; /* marron CHocolat -> Figma */
  --marronNoisetteMid: #8C5744;
  --grisArdoiseMid: #333140;
  --marronNoisette70: #c07a61;
  --marronNoisetteTert: #4F5372;
  --blanc : #FBFBFB;
}

/* Noir */
.bg--noir {
  background-color: var(--noir);
}

/* Gris Ardoise */
.bg--grisArdoise {
  background-color: var(--grisArdoise);
}

/* Bleu Gris */
.bg--bleuGris {
  background-color: var(--bleuGris);
}

/* Marron Form */
.bg--form {
  background-color: var(--bg-form);
}

/* Marron Noisette */
.bg--marronNoisetteMid {
  background-color: var(--marronNoisetteMid);
}

/* Gris Ardoise 50% */
.bg--grisArdoiseMid {
  background-color: var(--grisArdoiseMid);
}

/* Marron noisette 70% */
.bg--marronNoisette70 {
  background-color: var(--marronNoisette70);
}

/* Marron Noisette 70 */
.bg--marronNoisette70 {
  background-color: var(--marronNoisetteTert);
}

/* Blanc */
.bg--blanc {
  background-color: var(--blanc);
}


@layer components {

.hoverMarron:hover {
  color: var(--marronNoisetteMid);
}

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--noir);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
