@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --noir: #1A1A1A;
  --grisArdoise: #333140;
  --bleuGris: #4F5372;
  --marronNoisette: #8C5744;
  --grisArdoiseMid: #333140;
  /* --marronNoisetteMid: #8C5744; */
  --marronNoisetteMid: #c07a61;
  --marronNoisetteTert: #4F5372;
  --blanc : #FBFBFB;
}

.hoverMarron:hover {
  color: var(--marronNoisetteMid);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--noir);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
